<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
  <!--- <header>
        <div class="logo">
            <img src="/static/images/iconmonstr-check-mark-multiple-lined-240.png"  alt="Logo" style="width: 50px; height: auto;"> 
            <h1>Brand Analyzer</h1>
           
        </div>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Working</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
    </header>-->

    <main>
        {% block content %}{% endblock %}
    </main>

    <!--<footer>
        <div class="about">
            <h3>About</h3>
            <ul>
                <li><a href="#">Installation</a></li>
                <li><a href="#">Community</a></li>
            </ul>
        </div>
        <div class="social-media">
            <h3>Social Media</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Instagram</a></li>
            </ul>
        </div>
        <div class="contacts">
            <h3>Contacts</h3>
            gbhyb
        </div>
    </footer>  -->
</body>
</html>





<!-- style="@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";" -->
<!--<img src="/static/images/search (1).png" style="width: 20px; height: auto;" alt="Search">-->
<!-- HEADER FOOTER
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
.logo {
    display: flex; 
    align-items: center; 
}

.logo img {
    margin-right: 10px; 
    filter: grayscale(0%);
}

.logo h1 {
    margin: 0; 
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    color: #f0850b;
    text-decoration: none;
    margin-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

footer h3 {
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li {
    margin-bottom: 5px;
}


 -->


 <!-- SEARCH BUTTON
.search-bar {
    margin-top: 20px;
    position: relative;
    display: flex;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    
}

.search-bar input {
    flex: 0.5; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px;
    font-family: 'FontAwesome';
    box-shadow: 3px 0px 20px 2px #D3D3D3;
    
}

.search-bar button {
    
    background-color:#df7e17;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 680px;
    font-size: x large;
    margin-top: 0px;
    aspect-ratio: 0;
    position: absolute;
    

}


  -->